@model (PaymentHistory paymentHistory, IEnumerable<Resident> residents) 

<h2>Dodaj Płatność</h2>

<div class="row d-flex justify-content-center align-items-center w-100 mt-5 mb-5">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="paymentHistory.ConnectedResidentId">Identyfikator Lokatora</label>
                <select asp-for="paymentHistory.ConnectedResidentId">
                    @foreach (var resident in Model.residents)
                    {
                        <option value="@resident.Id" >@resident.Name</option>
                    }
                    </select>
                <span asp-validation-for="paymentHistory.ConnectedResidentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentHistory.Month">Miesiąc</label>
                <input asp-for="paymentHistory.Month" />
                <span asp-validation-for="paymentHistory.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentHistory.HotWaterConsumption">Zużycie wody ciepłej</label>
                <input asp-for="paymentHistory.HotWaterConsumption" />
                <span asp-validation-for="paymentHistory.HotWaterConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentHistory.ColdWaterConsumption">Zużycie wody zimnej</label>
                <input asp-for="paymentHistory.ColdWaterConsumption" />
                <span asp-validation-for="paymentHistory.ColdWaterConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentHistory.PaymentStatus">Status płatności</label>
                <input asp-for="paymentHistory.PaymentStatus" />
                <span asp-validation-for="paymentHistory.PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj Płatność" class="btn btn-success mb-2" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-danger float-right">Powrót</a>
            </div>
        </div>

    </form>
</div>

