@model (Resident resident, PaymentDetailsVM paymentHistory)
<div class="img-thumbnail">
    <form>
        @Model.resident.Name
        <label>Satander</label>
        <input type="radio" name="name" value="" />
        <label>ING</label>
        <input type="radio" name="name" value="" />
    </form>

</div>