@model Resident

<h2>Dodaj Lokatora</h2>

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="custom-control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="custom-control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetersOfFlat" class="custom-control-label"></label>
                <input asp-for="MetersOfFlat" class="form-control" />
                <span asp-validation-for="MetersOfFlat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerNumber" class="custom-control-label"></label>
                <input asp-for="PayerNumber" class="form-control" />
                <span asp-validation-for="PayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">           
                <input type="submit" value="Dodaj lokatora" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-danger float-right">Powrót</a>
            </div>
        </div>



    </form>
</div>