@model Resident

<div class="d-flex justify-content-center align-items-center w-100 mt-5 mb-5">
    <div class="details-box">
        <h2>@Model.Name @Model.Surname</h2>
        <h4>Metraż: @Model.MetersOfFlat m2</h4>
        <h6>Numer płatnika: 235-@Model.ReturnPayerNumber()</h6>

        <h3 class="text-danger">Czy na pewno chcesz usunąć użytkownika?</h3>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Usuń Lokatora" class="btn btn-danger"/>
            <a asp-action="Index" class="btn btn-success">Powrót</a>
        </form>

    </div>
</div>