@model Resident
<h2>Edytuj Lokatora</h2>
<div class="row d-flex justify-content-center align-items-center w-100 mt-5 mb-5">
    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name">Imię</label>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Nazwisko</label>
                    <input asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetersOfFlat">Metraż mieszkania</label>
                    <select asp-for="MetersOfFlat">
                        <option>67.1</option>
                        <option>81.1</option>
                    </select>
                    <span asp-validation-for="MetersOfFlat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PayerNumber">Numer płatnika</label>
                    <input asp-for="PayerNumber" />
                    <span asp-validation-for="PayerNumber"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edytuj Lokatora" class="btn btn-success mb-2" />
                    <a asp-action="Index" class="btn btn-danger float-right">Powrót</a>
                </div>
            </div>



        </form>
   
</div>