@model HomeVM


<h1 class="my-own-header">@Model.Title</h1>



@foreach (var resident in Model.Residents)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
            <div class="figure-caption">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@resident.Id"><h2>@resident.Name @resident.Surname</h2></a>
                
                
            </div>
        </div>

    </div>
}
