<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="fixed-top navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a asp-controller="Home" asp-action="Index" class="nav-link">FeeSystem</a></li>
                <li><a id="registerLink" asp-controller="Account" asp-action="Register" class="nav-link">Rejestruj</a></li>
                <li><a id="loginLink" asp-controller="Account" asp-action="Login" class="nav-link">Zaloguj</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
