.btn-to-pay {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #05ff48), color-stop(1, #32750e));
    background: -moz-linear-gradient(top, #05ff48 5%, #32750e 100%);
    background: -webkit-linear-gradient(top, #05ff48 5%, #32750e 100%);
    background: -o-linear-gradient(top, #05ff48 5%, #32750e 100%);
    background: -ms-linear-gradient(top, #05ff48 5%, #32750e 100%);
    background: linear-gradient(to bottom, #05ff48 5%, #32750e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ff48', endColorstr='#32750e',GradientType=0);
    background-color: #05ff48;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #32750e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 30px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

    .btn-to-pay:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #32750e), color-stop(1, #05ff48));
        background: -moz-linear-gradient(top, #32750e 5%, #05ff48 100%);
        background: -webkit-linear-gradient(top, #32750e 5%, #05ff48 100%);
        background: -o-linear-gradient(top, #32750e 5%, #05ff48 100%);
        background: -ms-linear-gradient(top, #32750e 5%, #05ff48 100%);
        background: linear-gradient(to bottom, #32750e 5%, #05ff48 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32750e', endColorstr='#05ff48',GradientType=0);
        background-color: #32750e;
       
    }

    .btn-to-pay:active {
        position: relative;
        top: 1px;
        text-decoration: none;
        outline:none;
    }
    .btn-to-pay:focus{
        outline:none;
        
    }
    